* {
		padding: 0;
		margin: 0;
}

.jumbotron {
    		background-image: url("../images/bkg4.jpg");
    		background-repeat: no-repeat;
    		background-size: cover;
            border: none;
            margin-bottom: -60px;
            color: gray;
            text-shadow: -1px 1px white, 0 1px white; 
    	}

footer {
    		position: fixed;
    		bottom: 0;
    		text-align: center;
            width: 100%;
            color: gray;
            font-size: 75%;
            background-color: black;
            padding: 5px;
        }

.bkg {
	background-image: url("../images/back.jpg");
	background-size: cover;
	height: 600px;
	margin-top: -30px;
}   

.box {
	background-color: black;
	width: 75%;
	height: 600px;
	color: gray;
}    

.gameBtn {
	margin-top: 210px;
	margin-left: 430px;
}

.gameOver {
	margin-left: 300px;
}

#timerbox{
    height: 50px;

}

#resultbox{
	height: 300px;
}

#displayPic img{
	max-height: 250px;
	display: inline-block;
}








